* {
    padding: 0;
    margin: 0px auto;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;
  }
  form {
    width: 400px;
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 22px;
    margin-bottom: 50vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  form input{
    height: 25px;
    font-size: 22px;
    width: 250px;
    margin: 8px;
    border-radius: 4px;
  }
  
  form button {
    margin-left: 50%;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(172, 193, 78);
    border-radius: 5px;
    padding: 8px;
  }
  form button:hover {
    margin-left: 50%;
    background-color: rgb(205, 239, 16);
  }
  .error{
    color: red;
  }
  