.final_order_container {
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    height: 100vh;  
  }
  
  .final_order {
    text-align: center;
    margin-top: 20px;  
    font-size: 25px;
  }
  
  .final_order span {
    display: block;
    margin-top: 10px;  
  }
  .final_order_btn{
    border-radius: 8px;
    cursor: pointer;
  }
  .final_order_btn:hover{
    border-radius: 8px;
    background-color: rgb(141, 137, 137);
    cursor: pointer;
  }