* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offscreen {
  position: absolute;
  left: -10000px;
}
.cart_title{
  margin-left: 50%;
  margin-top: 2vh;
}

body {
  font-family: "Nunito", sans-serif;
}

button,
select {
  font: inherit;
  padding: 0.25em;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#root {
  min-height: 100vh;
  background-color: bisque;
  display: flex;
  flex-flow: column nowrap;
}

.main,
.header,
.footer {
  padding: 0.25em;
  margin: 0 1em;
}

.main {
  display: flex;
  gap: 1rem;
}

.main--products {
  flex-flow: row wrap;
  border: 1px solid black;
  justify-content: space-between;
  background-color: bisque;
  margin: 0px auto;
  padding: 15px;
}

.main--cart {
  flex-flow: column nowrap;
}

.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #000;
}

.header__title-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.header__price-box {
  text-align: right;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.footer {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.product {
  width: 90%;
  margin-bottom: 1em;
}

.product__img {
  max-width: 350px;
}

.cart {
  padding: 0;
  margin-top: 0.5em;
}

.cart__item {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5em;
}

.cart__img {
  display: none;
  min-width: 68px;
}

.cart__select {
  max-height: 48px;
}

.cart__item-subtotal {
  display: none;
  text-align: center;
}

.cart__button {
  max-height: 48px;
  justify-self: flex-end;
}

.cart__totals {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

@media screen and (min-width: 601px) {
  .product {
    width: 30%;
  }

  .cart__item {
    grid-template-columns: 3fr 15fr 5fr 1fr 8fr 1fr;
  }

  .cart__img,
  .cart__item-subtotal {
    display: block;
  }

  .cart__submit {
    max-width: 300px;
    cursor: pointer;
    border-radius: 8px;
  }
  .cart__submit:hover {
    background-color: rgb(115, 117, 118);
  }
}
